<!DOCTYPE html>
<head>
	<style>
		#info{
			text-align: center;
		}
		#footer{
			display: flex;
			position: fixed;
			bottom:0;
			margin: 1rem 0rem;
			width: 100%;
			flex-direction: column;
			text-align: center;
			align-items: center;
		}
	</style>
</head>

<body>

	<div id="info">Successfully added Longitude and latitude to metadata of the image.</div>
	<div id="footer">
		<span>Designed and Created by <a href="https://anishk74.github.io">Anish</a><span>
		</br>
		<span>Copyright &#169; 2021</span>
	</div>
</body>

</html>
